Requirements:
- Download the data from Travel Insurance Prediction Data.
- Perform exploratory data analysis. This should include creating statistical summaries and charts, 
testing for anomalies, checking for correlations and other relations between variables, and other EDA elements.
- Perform statistical inference. This should include defining the target population, forming multiple statistical 
hypotheses and constructing confidence intervals, setting the significance levels, conducting z or t-tests for these hypotheses.
- Apply various machine learning models to predict the TravelInsurance column using the other features. This should 
include hyperparameter tuning, model ensembling, the analysis of model selection, and other methods.
- Provide clear explanations in your notebook. Your explanations should inform the reader what you are trying to achieve, 
what results did you get, and what these results mean.
- Provide suggestions about how your analysis can be improved.

Evaluation Criteria:
- Adherence to the requirements. How well did you meet the requirements?
- Depth of your analysis. Did you just skim the surface or did you explored the dataset in depth?
- Model's performance. How well did your model perform the predictions?
- Visualization quality. Did you use charts effectively to visualize patterns in the data? Are your visualizations 
properly labeled? Did you use colors effectively? Did you adhere to the principle of proportional ink?
- Code quality. Was your code well-structured? Did you use the appropriate levels of abstraction? Did you remove commented 
out and unused code? Did you adhere to the PEP8?
- Code performance. Did you use the suitable algorithms and data structures to solve the problems?